html {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

*,
*::before,
*::after {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

body {
  color: #757575;
  font-family: "Roboto", sans-serif;
  font-style: normal;
  letter-spacing: 0.03em;
}

.container {
  padding-left: 15px;
  padding-right: 15px;
  margin: 0 auto;
}

@media screen and (min-width: 480px) {
  .container {
    width: 480px;
  }
}

@media screen and (min-width: 768px) {
  .container {
    width: 768px;
  }
}

@media screen and (min-width: 1200px) {
  .container {
    width: 1200px;
  }
}

.link {
  text-decoration: none;
}

.list {
  list-style: none;
  padding: 0;
  margin: 0;
}

.header {
  background-color: #ffffff;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  border-bottom: 1px solid #ececec;
}

.main-nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.second-nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.logo {
  display: inline-block;
  font-family: "Raleway", sans-serif;
  font-weight: bold;
  font-size: 26px;
  line-height: 1.19;
}

.header .logo {
  padding-top: 24px;
  padding-bottom: 25px;
  margin-right: 93px;
  color: #000000;
}

.web {
  color: #2196f3;
}

.site-nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.site-nav a {
  display: block;
  padding-top: 32px;
  padding-bottom: 32px;
  color: #212121;
  position: relative;
}

.site-nav .current {
  color: #2196f3;
}

.site-nav .item:not(:last-child),
.contacts-nav .item:not(:last-child) {
  margin-right: 50px;
}

.site-nav .link::after,
.site-nav .current::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  display: block;
  width: 100%;
  background-color: #2196f3;
  height: 4px;
  border-radius: 2px;
  opacity: 0;
  -webkit-transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.site-nav .link:hover::after,
.site-nav .link:focus::after,
.site-nav .current::after {
  opacity: 1;
}

.address {
  font-style: normal;
}

.contacts-nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.contacts-link {
  padding-top: 32px;
  padding-bottom: 32px;
  color: #757575;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.contacts-link:hover, .contacts-link:focus {
  --color4: #2196f3;
}

.icon-contacts {
  margin-right: 10px;
}

.hero {
  background-color: #2f303a;
  text-align: center;
}

@media screen and (min-width: 480px) {
  .hero {
    padding: 118px 60px;
  }
}

@media screen and (min-width: 768px) {
  .hero {
    padding: 118px 204px;
  }
}

@media screen and (min-width: 1200px) {
  .hero {
    padding: 200px 252px;
  }
}

.hero-title {
  margin-top: 0;
  margin-bottom: 30px;
  margin-left: auto;
  margin-right: auto;
  font-size: 26px;
  line-height: 1.62;
  width: 360px;
  font-weight: 900;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: #ffffff;
  text-align: center;
}

@media screen and (min-width: 1200px) {
  .hero-title {
    font-size: 44px;
    line-height: 1.36;
    width: 696px;
  }
}

.overlay {
  max-width: 1600px;
  margin-left: auto;
  margin-right: auto;
  background-image: -webkit-gradient(linear, left top, right top, from(rgba(47, 48, 58, 0.4)), to(rgba(47, 48, 58, 0.4))), url(../images/studio/hero.jpg);
  background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/studio/hero.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

button {
  cursor: pointer;
}

.button {
  display: inline-block;
  padding: 10px 32px;
  border-radius: 4px;
  min-width: 200px;
  border: 1px solid transparent;
  font-family: inherit;
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  line-height: 1.875;
  text-align: center;
  letter-spacing: 0.06em;
  color: #ffffff;
  background-color: #2196f3;
}

.button:hover, .button:focus {
  color: #2196f3;
  background-color: #ffffff;
  -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
          box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
}

.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.2);
}

.backdrop.is-hidden {
  opacity: 0;
  pointer-events: none;
}

.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  width: 450px;
  height: 609px;
  background-color: #ffffff;
  -webkit-box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
          box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  z-index: 100;
}

@media screen and (min-width: 1200px) {
  .modal {
    width: 528px;
    height: 581px;
  }
}

.modal-content {
  padding: 40px;
  text-align: center;
}

.modal-text {
  margin: 0;
  margin-bottom: 12px;
  font-weight: 700;
  font-size: 20px;
  line-height: 1.5;
  color: #212121;
}

@media screen and (min-width: 1200px) {
  .modal-text {
    line-height: 1.15;
  }
}

.close {
  position: absolute;
  top: 1.4%;
  right: 1.5%;
  width: 30px;
  height: 30px;
  background-position: center;
  background-color: #ffffff;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 50%;
  padding: 6px;
}

.close:hover .icon-close {
  fill: #2196f3;
}

.icon-close {
  fill: #000000;
}

.form-field {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.form-label {
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.01em;
  margin-bottom: 4px;
}

.input-icon {
  position: relative;
  width: 100%;
}

.form-icon {
  position: absolute;
  top: 14px;
  left: 15px;
  display: inline-block;
}

.form-input {
  width: 100%;
  height: 40px;
  margin-bottom: 10px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border-radius: 4px;
  padding-left: 42px;
}

.form-input.comment {
  margin-bottom: 20px;
  height: 120px;
  padding: 12px 16px;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.01em;
  color: #000000;
}

.form-input:focus {
  border-color: #2196f3;
  outline: #2196f3;
}

.form-input:focus + .form-icon {
  --color6: #2196f3;
}

textarea {
  resize: none;
}

.checkbox {
  margin-bottom: 30px;
  padding: 0px;
}

@media screen and (min-width: 1200px) {
  .checkbox {
    padding: 0px 12px;
  }
}

.checkbox-input {
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
}

.checkbox-label {
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media screen and (min-width: 1200px) {
  .checkbox-label {
    font-size: 14px;
    line-height: 1.71;
  }
}

.checkbox-link {
  text-decoration: underline;
  color: #2196f3;
}

.checkbox-icon {
  display: inline-block;
  width: 16px;
  height: 15px;
  border: 2px solid #212121;
  border-radius: 3px;
  margin-right: 7px;
}

.checkbox-input:checked + .checkbox-icon {
  background-color: #2196f3;
  background-image: url(../images/icon/check.svg);
  background-size: contain;
  background-origin: border-box;
  border-color: #2196f3;
  background-repeat: no-repeat;
}

.button-send {
  font-weight: 700;
  line-height: 1.87;
  letter-spacing: 0.06em;
  color: #ffffff;
  background-color: #2196f3;
  -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
          box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  border: 1px solid transparent;
  padding: 10px 55px;
}

.button-send:hover, .button-send:focus {
  background-color: #ffffff;
  color: #2196f3;
  border: 1px solid #2196f3;
}

.section {
  padding-top: 94px;
  padding-bottom: 94px;
}

.section .title {
  margin-top: 0;
  margin-bottom: 50px;
  font-weight: bold;
  font-size: 36px;
  line-height: 1.17;
  text-align: center;
  color: #212121;
}

.section.work {
  padding-top: 0;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

.features {
  background-color: #ffffff;
}

.features .subtitle {
  margin-top: 0;
  margin-bottom: 10px;
  font-weight: bold;
  font-size: 14px;
  line-height: 1.14;
  text-transform: uppercase;
  color: #212121;
}

.features .text {
  margin-top: 0;
  margin-bottom: 0;
  font-weight: normal;
  font-size: 14px;
  line-height: 1.71;
}

.features-list {
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.features-list .item,
.team-list .item {
  width: calc((100% - 90px) / 4);
}

.features-list .item:not(:last-child),
.work-list .item:not(:last-child),
.team-list .item:not(:last-child),
.clients-list .item:not(:last-child) {
  margin-right: 30px;
}

.icon-features {
  height: 120px;
  width: 100%;
  background-color: #f5f4fa;
  border-radius: 4px;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 30px;
}

.work {
  background-color: #ffffff;
}

.work-list .item {
  position: relative;
}

.work-list-title {
  width: 100%;
  margin: 0;
  padding: 27px 82px;
  color: #ffffff;
  font-size: 14px;
  line-height: 1.14;
  text-align: center;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  background-color: rgba(47, 48, 58, 0.8);
  position: absolute;
  left: 0;
  bottom: 0;
}

.team {
  background-color: #f5f4fa;
}

.team .subtitle {
  margin-top: 0;
  margin-bottom: 10px;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;
  text-align: center;
  color: #212121;
}

.team .text {
  margin-top: 0;
  margin-bottom: 16px;
  font-weight: normal;
  font-size: 16px;
  line-height: 1.19;
  text-align: center;
}

.team-list > li {
  background: #ffffff;
  -webkit-box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
          box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
}

.workers {
  padding-top: 30px;
  padding-bottom: 30px;
}

.social-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.social-network:not(:last-child) {
  margin-right: 10px;
}

.social-link {
  width: 44px;
  height: 44px;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-radius: 50%;
  --color5: #afb1b8;
  background-color: inherit;
}

.social-link:hover, .social-link:focus {
  --color5: #ffffff;
  background-color: #2196f3;
}

.clients-link {
  width: 170px;
  height: 90px;
  border: 1px solid #afb1b8;
  border-radius: 4px;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.clients-link:hover, .clients-link:focus {
  --color5: #2196f3;
  border: 1px solid #2196f3;
}

.footer {
  background-color: #2f303a;
  padding-top: 60px;
  padding-bottom: 60px;
  height: 252px;
  font-size: 14px;
  line-height: 1.71;
}

.footer .logo {
  color: #ffffff;
  margin-bottom: 20px;
}

.footer .address {
  width: 231px;
}

.footer .contacts {
  color: rgba(255, 255, 255, 0.6);
  display: inline-block;
}

.footer .map {
  color: #ffffff;
  display: inline-block;
}

.footer .text {
  font-weight: 700;
  line-height: 1.14;
  text-transform: uppercase;
  color: #ffffff;
  margin-top: 0;
  margin-bottom: 20px;
}

.footer-nav {
  margin-right: 70px;
}

.footer-nav li:not(:last-child) {
  margin-bottom: 9px;
}

.link:hover,
.link:focus {
  color: #2196f3;
}

.footer .social-link {
  --color5: #ffffff;
  background-color: rgba(255, 255, 255, 0.1);
}

.footer .social-link:hover, .footer .social-link:focus {
  --color5: #ffffff;
  background-color: #2196f3;
}

.footer-social-list {
  margin-right: 93px;
}

.footer .form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.footer-form-input {
  width: 358px;
  height: 50px;
  border: 1px solid rgba(255, 255, 255, 0.3);
  border-radius: 4px;
  font-size: 16px;
  line-height: 1.25;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
  background-color: #2f303a;
  padding: 15px;
  margin-right: 12px;
}

.subscribe {
  background-color: #2196f3;
  -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
          box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  border: 1px solid transparent;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  letter-spacing: 0.06em;
  padding: 10px 28px;
}

.subscribe-text {
  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;
  color: #ffffff;
  margin-right: 10px;
}

.subscribe:hover,
.subscribe:focus {
  background-color: #ffffff;
}

.subscribe:hover .subscribe-text,
.subscribe:focus .subscribe-text {
  color: #2196f3;
}

.subscribe:hover .icon-telegram,
.subscribe:focus .icon-telegram {
  --color1: #2196f3;
}
/*# sourceMappingURL=main.css.map */