.footer {
  background-color: $bg-main;
  padding-top: 60px;
  padding-bottom: 60px;

  font-size: 14px;
  line-height: 1.71;

  text-align: center;

  @media screen and (min-width: 1200px) {
    text-align: left;
  }

  &-container {
    @media screen and (min-width: 768px) {
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
    }
  }

  .logo {
    color: $white;
    margin-bottom: 20px;
  }

  .address {
    @media screen and (min-width: 768px) {
      width: 231px;
    }
  }

  .contacts {
    color: $footer-address-color;
    display: inline-block;
  }

  .map {
    color: $white;
    display: inline-block;
  }

  .text {
    font-weight: 700;
    line-height: 1.14;
    text-transform: uppercase;

    color: $white;
    margin-top: 0;
    margin-bottom: 20px;
  }
}

.footer-nav {
  margin-bottom: 60px;

  @media screen and (min-width: 768px) {
    margin-bottom: 60px;
    margin-right: 165px;
  }

  @media screen and (min-width: 1200px) {
    margin-bottom: 0;
    margin-right: 70px;
  }

  & li:not(:last-child) {
    margin-bottom: 8px;

    @media screen and (min-width: 1200px) {
      margin-bottom: 9px;
    }
  }
}

.link:hover,
.link:focus {
  color: $accent-color;
}

.footer .social-link {
  --color5: #ffffff;
  background-color: rgba(255, 255, 255, 0.1);

  &:hover,
  &:focus {
    --color5: #ffffff;
    background-color: $accent-color;
  }
}

.footer-social-list {
  margin-bottom: 60px;

  @media screen and (min-width: 768px) {
    padding-top: 5px;
    margin-bottom: 0px;
  }

  @media screen and (min-width: 1200px) {
    padding-top: 0px;
    margin-right: 93px;
    margin-top: 12px;
  }
}

.footer-subscribe {
  @media screen and (min-width: 768px) {
    width: 450px;
  }

  @media screen and (min-width: 1200px) {
    width: 570px;
    margin-top: 12px;
  }
}
