.form {
  &-field {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }

  &-label {
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.01em;

    margin-bottom: 4px;
  }
}

.input-icon {
  position: relative;
  width: 100%;
}

.form-icon {
  position: absolute;
  top: 14px;
  left: 15px;
  display: inline-block;
}

.form-input {
  width: 100%;
  height: 40px;
  margin-bottom: 10px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  box-sizing: border-box;
  border-radius: 4px;
  padding-left: 42px;

  &.comment {
    margin-bottom: 20px;
    height: 120px;
    padding: 12px 16px;

    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.01em;

    color: $black;
  }

  &:focus {
    border-color: $accent-color;
    outline: $accent-color;
  }
}

.form-input:focus + .form-icon {
  --color6: #2196f3;
}

textarea {
  resize: none;
}

.checkbox {
  margin-bottom: 30px;
  padding: 0px 12px;

  &-input {
    appearance: none;
  }

  &-label {
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
    display: flex;
    align-items: center;
  }

  &-link {
    text-decoration: underline;
    color: $accent-color;
  }

  &-icon {
    display: inline-block;
    width: 16px;
    height: 15px;
    border: 2px solid $title-text-color;
    border-radius: 3px;
    margin-right: 7px;
  }

  &-input:checked + &-icon {
    background-color: $accent-color;
    background-image: url(../images/icon/check.svg);
    background-size: contain;
    background-origin: border-box;
    border-color: $accent-color;
    background-repeat: no-repeat;
  }
}

.button-send {
  font-weight: 700;
  line-height: 1.87;

  letter-spacing: 0.06em;
  color: $white;
  background-color: $accent-color;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  border: 1px solid transparent;

  padding: 10px 55px;

  &:hover,
  &:focus {
    background-color: $white;
    color: $accent-color;
    border: 1px solid $accent-color;
  }
}
