.logo {
  display: inline-block;

  font-family: "Raleway", sans-serif;
  font-weight: bold;
  font-size: 26px;
  line-height: 1.19;

  .header & {
    padding-top: 24px;
    padding-bottom: 25px;
    margin-right: 93px;

    color: $black;
  }
}

.web {
  color: $accent-color;
}
