.product-list {
  @media screen and (min-width: 768px) {
    display: flex;
    flex-wrap: wrap;
  }

  .subtitle {
    margin-top: 0;
    margin-bottom: 4px;

    font-weight: bold;
    font-size: 18px;
    line-height: 2;
    letter-spacing: 0.06em;
    color: $title-text-color;
  }

  .text {
    margin-top: 0;
    margin-bottom: 0;

    font-weight: normal;
    font-size: 16px;
    line-height: 1.875;
    color: $primary-text-color;
  }

  .thumb {
    position: relative;
    overflow: hidden;
  }
}

.product-list .item {
  border: 1px solid #eeeeee;

  &:hover,
  &:focus {
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06),
      1px 4px 6px rgba(0, 0, 0, 0.16);
  }
}

@media screen and (min-width: 480px) {
  .product-list .item:not(:last-child) {
    margin-bottom: 30px;
  }
}

@media screen and (min-width: 768px) and (max-width: 1199px) {
  .product-list .item {
    width: calc((100% - 30px) / 2);
    margin-right: 30px;
  }

  .product-list .item:nth-child(2n) {
    margin-right: 0;
  }
}

@media screen and (min-width: 1200px) {
  .product-list .item {
    width: calc((100% - 60px) / 3);
    margin-right: 30px;
  }

  .product-list .item:nth-last-child(-n + 3) {
    margin-bottom: 0;
  }

  .product-list .item:nth-child(3n) {
    margin-right: 0;
  }
}

.product-photo {
  @media screen and (min-width: 480px) {
    width: 100%;
    height: 294px;
  }
}

.description {
  position: absolute;
  top: 0;
  left: 0;
  margin: 0;
  padding: 77px 24px;

  @media screen and (min-width: 768px) {
    padding: 49px 24px;
  }

  @media screen and (min-width: 1200px) {
    padding: 63px 24px;
  }

  font-size: 18px;
  line-height: 1.56;
  letter-spacing: 0.03em;

  color: $white;
  background-color: rgba(33, 150, 243, 0.9);

  overflow: hidden;
  opacity: 0;
  transform: translateY(100%);
  transition: transform $timing-function;
}

.product-list .item-link:hover .description,
.product-list .item-link:focus .description {
  opacity: 1;
  transform: translateY(0);
}

.product {
  padding: 20px 24px;
}
