.section {
  padding-top: 94px;
  padding-bottom: 94px;

  .title {
    margin-top: 0;
    margin-bottom: 50px;

    font-weight: bold;
    font-size: 36px;
    line-height: 1.17;
    text-align: center;
    color: $title-text-color;
  }

  &.work {
    padding-top: 0;
  }
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}
